$background-1: #fdf0ed;
$background-2: #fadad1;
$background-3: #f9cbbe;

$accent-1: #da103f;
$accent-2: #dc3318;
$accent-3: #f6661e;
$accent-4: #1eb980;
$accent-5: #07daac;
$accent-6: #1d8991;
$accent-7: #8931b9;
$accent-8: #f43e5c;

$primary-accent: $accent-3;
$secondary-accent: $accent-2;

$foreground-color: #16161c;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};
