$background-1: #16161c;
$background-2: #1c1e26;
$background-3: #2e303e;

$accent-1: #e95678;
$accent-2: #f09383;
$accent-3: #fab795;
$accent-4: #29d398;
$accent-5: #1eb980;
$accent-6: #26bbd9;
$accent-7: #ee64ae;
$accent-8: #ec6a88;

$primary-accent: $accent-1;
$secondary-accent: $accent-2;

$foreground-color: #fdf0ed;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};
