frame {
  &.app-notification border {
    background: $background-3;
    border: 0;
  }
}

frame > border, .frame {
  border: none;
}

scrolledwindow {
  viewport.frame {
    border-style: none;
  }
}
